<div class="home-callout text-center container-fluid"><!--text-center is a bootstrap class that's built in to center text-->
  <h1>Welcome to DevMatch</h1>
  <h3>A membership site where entrepreneurs meet developers.</h3>
</div>
